{{!< default}}

{{#page}}
    <h1 class="text-4xl text-white font-bold mb-4">{{title}}</h1>
    {{#if custom_excerpt}}
    <p class="text-gray-400 text-lg mb-10">{{custom_excerpt}}</p>
    {{/if}}
{{/page}}

<div class="max-w-6xl mx-auto pb-12">
    {{recommendations limit="100"}}
</div>
